* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.title h1 {
  font-size: 4rem;
}
.search-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  background: #fff;
  margin: 1.5rem 0;
  height: 4rem;
  border-radius: 100vmax;
  padding: 0.3rem;
}
#addTodo {
  padding: 1rem;
  border-radius: 100vmax;
  border: none;
  outline: none;
  font-size: 15px;
}
#addtodo-btn {
  padding: 1rem;
  border-radius: 100vmax;
  background: blueviolet;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.todo-container {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  padding: 1.3rem;
}
.todoList{
    display: grid;
    grid-template-columns: 7fr 1fr;
}
.todoList li{
    list-style: none;
    font-size: 18px;
}
#delete{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
